* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav-bar {
  border: solid 2px pink;
  background-color: plum;
  font-size: 3vh;

  display: flex;
  justify-content: space-between;
}
.nav-bar-right {
  display: flex;
}
.nav-bar-left {
  padding: 15px;
  font-size: 4vh;
}
.nav-bar-right p {
  padding: 15px;
}
@media (max-width: 450px) {
  .nav-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-bar-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-bar-right p {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
