*{
    box-sizing: border-box;
}

body{
    border: black solid 1px;
   }

.body{
    /* margin: 0;
    padding: 0; */
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100%%;
    
}
.header{

    background-color: lightcoral;
    text-align: center;
    height: 50px;
    

}
.side{
    background-color: lightgreen;
    float: left;
    width: 30%;
    height: 200px;

}

.main{
    background-color: lightseagreen;
   text-align: right;
   float: right;
    width: 67%;
    height: 200px;

}
.footer{
    background-color: pink;
    text-align: center;
    height: 50px;


}
#box{
    font-size: 20px;
    margin: 3px;
    border: black solid 1px;

}

.clr{
    clear: both;    
}
