* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1800px;
  margin: auto;
}
.headline {
  line-height: 2;
  font-size: 2rem;
}
.img {
  float: right;
}

.my-info {
  line-height: 1.2;
  padding: 10px;
  font-size: 2.5rem;
}
.follow {
  font-size: 60px;
  padding: 25px;
}
.nav-bar {
  background-color: pink;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  border: solid 1px;
}
a {
  text-decoration: none;
  color: black;
  font-size: 40px;
  padding-left: 150px;
}
